///////main file////////
%先給定初始b與w值
b=10;
w=[0.01;0.01];
learning_rate1=0.001;
learning_rate2=0.001;

 %先用8筆資料的第1個feature來算w1
 for k=1:1:400
     for j=1:1:2
         sigma1=0;
         sigma2=0;
         for i=1:1:8
              sigma1=sigma1-(training_output(i)-probability_function(training_input(:,i),w,b))*training_input(j,i);
              sigma2=sigma2-(training_output(i)-probability_function(training_input(:,i),w,b));
         end
         w(j,1)=w(j,1)-learning_rate1*sigma1;   
         b=b-learning_rate2*sigma2;
         
     end
     
     subplot(2,1,1);
     plot(k,sigma1,'r+-.');
     hold on;
     subplot(2,1,2);
     plot(k,sigma2,'r+-.');
     hold on;
     
 end




/////////////probability file/////////
function f = probability_function(x,w,b)
%輸入w,b和x,輸出f(x)
z=dot(x,w)+b;
f=1/(1+exp(-z));
end





///////////////////training_data//////////
% 8筆training_data
training_input=[1,3,5,3,16,19,23,20;2,1,3,4,19,28,14,20];
training_output=[1,1,1,1,0,0,0,0];





///////////////////////////////////////////////
for i=0:0.01:30
    for j=0:0.01:30
        a=probability_function([i;j],w,b);
        if a<=0.51&&a>=0.49
        plot(i,j,'r+-.');
        hold on;
        end
    end
end
